{% extends 'base.html' %} {% block conteudo %} {% load static %}
<div class="admin-menu">
	<button type="button">
		<img src="{% static 'graphics/plus.svg' %}" /> Novo Projeto
	</button>
	<button type="button">
		<img src="{% static 'graphics/eye.svg' %}" /> Modo Tabela
	</button>
	<div class="filters-container">
		<div class="filters"><input type="search" /></div>
		<div class="select-container">
			<img src="{% static 'graphics/school.svg' %}" />
			<label for="degree">Curso</label>
			<select name="degree">
				<option value="Medicina"></option>
				<option value="Ciência da Computação"></option>
				<option value="Arquitetura"></option>
			</select>
		</div>
		<button type="button" id="right-button">
			<img src="{% static 'graphics/chevron-right.svg'%}" />
		</button>
	</div>
	<div class="project-listing">{% block projetos %} {% endblock %}</div>
</div>
{% endblock %}
