{% extends 'admin-base.html' %}
{% load static %}
{% block projetos %}
<div id="project-grid" class="projects-grid">
    {% for projeto in portalExtensaoUnicap_app_projetos %}
    <a href="{% url 'project' projeto.id %}" class="project-card">
        <h2>{{ projeto.titulo }}</h2>
        <p class="professor">{{ projeto.coordenador }}</p>
        <div class="tags">
            {% for area in projeto.areas.all %}
            <span class="tag">{{ area.area }}</span>
            {% endfor %}
        </div>
    </a>
    {% empty %}
    <p style="text-align: center;">Nenhum projeto cadastrado ainda.</p>
    {% endfor %}
</div>

<div id="project-table-container" class="hidden">
    <table class="project-table">
        <thead class="tabela">
            <tr>
                <th>Projeto</th>
                <th>Professor</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody class="tabela">
            {% for projeto in portalExtensaoUnicap_app_projetos %}
            <tr>
                <td><h2><a href="{% url 'project' projeto.id %}">{{ projeto.titulo }}</a></h2></td>
                <td>{{ projeto.coordenador }}</td>
                <td>
                    {% for area in projeto.areas.all %}
                    <span class="tag">{{ area.area }}</span>
                    {% endfor %}
                </td>
            </tr>
            {% empty %}
            <tr><td colspan="3" style="text-align: center;">Nenhum projeto encontrado.</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
