{% extends 'base.html' %} {% block conteudo %} {% load static %}
<div class="admin-menu">
	<div class="actions-container">
		{% if user.is_authenticated %}
		<a href="{% url 'create' %}">
			<button type="button">
				<img src="{% static 'graphics/plus.svg' %}" /> Novo Projeto
			</button>
		</a>
		<button type="button" id="admin-mode-button">
			<img src="{% static 'graphics/eye.svg' %}" /> Modo Tabela
		</button>
		{% endif %}
	</div>

	<form id="filter-form" method="get">
	<div class="filters">
		<div class="search-box">
            <span class="search-icon"><img src="{% static 'graphics/lupa.svg' %}"></span>
            <input type="text" name="search_name" placeholder="Nome" />
        </div>
		<div class="filter-dropdown">
			<span class="curso-icon"
				><img src="{% static 'graphics/school.svg' %}"
			/></span>
			

			<select name="curso">
				<option value="">Curso</option>
				{% for curso in cursos %}
					<option value="{{ curso }}">{{ curso }}</option>
				{% endfor %}
			</select>

		</div>
		<div class="filter-dropdown"> <!-- area -->
			<span class="area-icon"
				><img src="{% static 'graphics/area.svg' %}"
			/></span>


			<select name="area">
				<option value="">Área</option>
				{% for area in areas_lista%}
					<option value="{{ area }}">{{ area }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="filter-dropdown"> <!-- turno -->
			<span class="shift-icon"
				><img src="{% static 'graphics/shift.svg' %}"
			/></span>
			<select name="turno">
				<option value="">Turno</option>
				<option value="Manhã">Manhã</option>
				<option value="Tarde">Tarde</option>
				<option value="Noite">Noite</option>
			</select>
		</div>
		<div class="filter-dropdown"> <!-- dias -->
			<span class="days-icon"
				><img src="{% static 'graphics/calendar.svg' %}"
			/></span>
			<select name="dia">
				<option value="">Dias</option>
				<option value="Segunda-feira">Segunda</option>
				<option value="Terça-feira">Terça</option>
				<option value="Quarta-feira">Quarta</option>
				<option value="Quinta-feira">Quinta</option>
				<option value="Sexta-feira">Sexta</option>
				<option value="Sábado">Sábado</option>
				<option value="Domingo">Domingo</option>
			</select>
		</div>
		<div class="filter-dropdown"> <!-- local -->
			<span class="location-icon"
				><img src="{% static 'graphics/place.svg' %}"
			/></span>
			<select name="local">
				<option value="">Local</option>
				<option value="Bloco A">Bloco A</option>
				<option value="Bloco B">Bloco B</option>
				<option value="Bloco C">Bloco C</option>
				<option value="Bloco D">Bloco D</option>
				<option value="Bloco G">Bloco G</option>
				<option value="Bloco J">Bloco J</option>
			</select>
		</div>
		<div class="filter-dropdown"> <!-- vagas -->
			<span class="area-icon"
				><img src="{% static 'graphics/area.svg' %}"
			/></span>
			<select name="vagas">
				<option value="">Vagas</option>
				<option value="1">Vagas abertas</option>
				<option value="0">Todos os projetos</option>
			</select>
		</div>
	</div>
	<div class="actions-container">
		<button type="submit" id="botao_filtrar">
			<img src="{% static 'graphics/eye.svg' %}" /> Filtrar
		</button>
	</div>
	</form>
</div>
<div class="project-listing">
	{% block projetos %} {% endblock %}
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const button = document.getElementById("admin-mode-button");
        const grid = document.getElementById("project-grid");
        const table = document.getElementById("project-table-container");

        button.addEventListener("click", function () {
            const showingGrid = (grid.style.display !== "none");

            grid.style.display = showingGrid ? "none" : "grid";
            table.style.display = showingGrid ? "block" : "none";

            //button.innerHTML = showingGrid ? `<img src="{% static 'graphics/eye.svg' %}" /> Modo Cartões` : `<img src="{% static 'graphics/eye.svg' %}" /> Modo Tabela`;
        });
    });
</script>


{% endblock %}
