<!DOCTYPE html>
<html lang="pt-br">
	<head>
		{% load static %}
		<link rel="stylesheet" href="{% static 'style.css' %}" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Portal de Projetos de Extensão</title>
		<meta
			name="description"
			content="Portal para a visualização do projetos de extensão" />
		<meta name="author" content="" />
		<link
			rel="icon"
			type="readme_graphics/x-icon"
			href="readme_graphics/favicon.ico" />
	</head>
	<body class="{{current_page}}">
		<nav>
			<div class="left-nav">
				<img
					src="{% static 'graphics/extensao-marca-gomos-cor.png' %}"
					id="logo" />
				<h1>Portal de Projetos de Extensão</h1>
			</div>
			<div class="right-nav">
				<form action="{% url 'admin' %}">
					<button type="submit">Sou Administrador</button>
				</form>
			</div>
		</nav>
		<main>{% block conteudo %} {% endblock %}</main>
	</body>
</html>
