{% extends 'base.html' %}
{% block conteudo %}
{% load static %}
<div class="basic-info">
	<h2>{{ projeto.titulo }}</h2>
	<p>{{ projeto.coordenador }}</p>
	<div class="tag-container">
		{% for area in projeto.areas.all %}
		<div class="tag">
			<img src="{% static 'graphics/school.svg' %}" />
			<p>{{ area.area }}</p>
		</div>
		{% endfor %}
	</div>
</div>
<div class="extra-info">
	<img />
	<div class="right-extra-info">
		<div class="proposition">
			<h3>Proposta</h3>
			<p>{{ projeto.proposta }}</p>
		</div>
		<div class="contact">
			<h3>Informações para Contato</h3>
			{% if projeto.formulario %}
			<a class="contact-link" href="{{ projeto.formulario }}" target="_blank">
				<img src="{% static 'graphics/forms.svg' %}" />
				<p>Formulário de Inscrição</p>
			</a>
			{% endif %}
			{% if projeto.instagram %}
			<a class="contact-link" href="{{ projeto.instagram }}" target="_blank">
				<img src="{% static 'graphics/brand-instagram.svg' %}" />
				<p>Perfil do Instagram</p>
			</a>
			{% endif %}
			{% if projeto.contato %}
			<a class="contact-link" href="mailto:{{ projeto.contato }}">
				<img src="{% static 'graphics/mail.svg' %}" />
				<p>Email para contato</p>
			</a>
			{% endif %}
		</div>

		<form action="{{projeto.id}}" method="get" onsubmit="return showWindow()">
			{% csrf_token %}
			<input type="hidden" id="delete" name="delete" value="{{projeto.id}}">
            <input type="submit" value="Deletar">
		</form>
		<script>
			function showWindow(){
				if (window.confirm("Deseja deletar o projeto?") == true){
					return true;
				} else {
					return false;
				}
			}
		</script>

	</div>
</div>
{% endblock %}
