:root{
    --main-color:#690013;
    --accent-color:#9D7628;
    --text-color:#fff;
}
nav h1{
    color: var(--text-color);
}
nav{
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-color: var(--main-color);
}
.left-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    padding-left: 4vw;
}
.right-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
    flex-grow: 1;
    padding-right: 4vw;
}
button{
    background-color: var(--accent-color);
}